body            { font-family: sans-serif; background: #eee; overflow: scroll;}
a, h1, h2, h3, h4	{ color: #333399; }
h1, h2, h3, h4      { font-family: Arial, sans-serif; }
h1, h2, h3, h4, h5 	{ margin: 0;}
h2              { font-size: 1.2em solid; }
h3				{ font-size: 1em solid; }
h4				{ font-size: 0.8em solid; }
i				{ color: #000000 }
p				{ margin: 0; }
.page           { margin: 2em auto; width: 35em; border: 5px solid #ccc;
                  padding: 0.8em; background: white; }
.entries, .changes, .entry_changes { list-style: none; margin: 0; padding: 0; }
.entries li     { margin: 0.8em 1.2em; }
.entries li h2  { margin-left: -1em; }
.add-entry      { font-size: 0.9em; border-bottom: 1px solid #ccc; }
.add-entry dl   { font-weight: bold; }
.metanav        { text-align: right; font-size: 0.8em; padding: 0.3em;
                  margin-bottom: 1em; background: #fafafa; }
.flash          { background: #CEE5F5; padding: 0.5em;
                  border: 1px solid #AACBE2; }
.error          { background: #F0D6D6; padding: 0.5em; }
.changes        { display: none; }
#show_notes     { white-space: pre-wrap; }
.entry         { display: inline; }
.colorcode, .billheader { text-align: center; }
