{% extends "layout.html" %}
{% block body %}
{% if session.logged_in %}
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <dl>
        <dt>Title (required):</dt>
        <dd><input type=text size=25 maxlength=100 name=title>
        <dt>Artist:</dt>
        <dd><input type=text size=25 maxlength=100 name=artist>
        <dt>Album:</dt>
        <dd><input type=text size=25 maxlength=100 name=album>
        <dt>Changes:</dt>
        <br><div class="basic_option"><button type=button>Basic Tags</button></div>
        <ul class="basic_changes">
			       <li><input id="change_title" type=checkbox name=basic value="Change title">Change title</li>
                 <div id="new_title">New title: <input id="input_new_title" type=text size=20 maxlength=100 name="basic"></div>
			       <li><input id="change_artist" type=checkbox name=basic value="Change artist">Change artist</li>
                 <div id="new_artist">New artist: <input id="input_new_artist" type=text size=20 maxlength=100 name="basic"></div>
			       <li><input id="change_album" type=checkbox name=basic value="Change album">Change album</li>
                 <div id="new_album">New album: <input id="input_new_album" type=text size=20 maxlength=100 name="basic"></div>
			       <li><button type=button id=resetBasic><small>Reset</small></button></li>
        </ul>
        <br><div class="qual_option"><button type=button>Song Quality/Edits</button></div>
        <ul class="qual_changes">
			       <li><input id="change_quality" type=checkbox name=quality value="Changed music quality">Change music quality</li>
                  <div class="music_quality">
                  <input id="hq_quality" type=radio name="quality" value="High quality">Encoded to higher quality
                  <br><input id="low_quality" type=radio name="quality" value="Low quality">Downgraded to lower quality
                  </div>
			       <li><input type=checkbox name=quality value="Made edits to file">Edit music file</li>
			       <li><button type=button id=resetQual><small>Reset</small></button></li>
        </ul>
        <dt>Choose one of the following (required):</dt>
		<dd><input type=radio name=update value="made_changes">I have made the following changes in my local library, but haven't updated it on my music player yet, and would like to note it for the future.
        <dd><input type=radio name=update value="not_changed">I have not made any of the following changes yet, and would like to note them for the future.
        <dt>Notes (required):</dt>
        <dd><textarea name=text rows=5 cols=40></textarea>
        <dd><input type=submit value=Submit>
      </dl>
    </form>
  {% else %}
  <em>You must be logged in order to add an entry.</em>
  {% endif %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
	$(document).ready(function() {
		$("#resetBasic").click(function(){
			$('input[name="basic"]').prop('checked', false);
		});
		$("#resetQual").click(function(){
			$('input[name="quality"]').prop('checked', false);
		});
    $('#change_title').click(function() {
      $("#new_title").toggle(this.checked);
    });
    $('#change_artist').click(function() {
      $("#new_artist").toggle(this.checked);
    });
    $('#change_album').click(function() {
      $("#new_album").toggle(this.checked);
    });
    $('#change_quality').click(function() {
      $(".music_quality").toggle(this.checked);
    });
	});
	$(".qual_option").click(function(){
		$(".qual_changes").toggle("slow");
	});
	$(".basic_option").click(function(){
		$(".basic_changes").toggle();
	});
</script>
{% endblock %}
