{% extends "layout.html" %}
{% block body %}
{% if session.logged_in %}
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <dl>
        <dt>Title (required):</dt>
        <dd><input type=text size=25 maxlength=100 name=title>
        <dt>Artist:</dt>
        <dd><input type=text size=25 maxlength=100 name=artist>
        <dt>Album:</dt>
        <dd><input type=text size=25 maxlength=100 name=album>
        <dt>Changes:</dt>
        <dt><small>(Note: You must change at least one tag, or add something in notes.)</small></dt>
        <div class="basic_option"><button type=button>Basic Tags</button></div>
        <ul class="basic_changes">
			       <li>Change title to: <input id="change_title" type=text name=basic size=20 maxlength=100></li>
			       <li>Change artist to: <input id="change_artist" type=text name=basic size=20 maxlength=100></li>
			       <li>Change album to: <input id="change_album" type=text name=basic size=20 maxlength=100></li>
			       <li><button type=button class=reset><small>Reset</small></button></li>
        </ul>
        <dt>Other Notes:</dt>
        <dd><textarea name=text rows=5 cols=40></textarea>
          <dt>Choose one of the following (required):</dt>
            <dd><input type=radio name=update value="made_changes">I have made the following changes in my local library, but haven't updated it on my music player yet, and would like to note it for the future.
            <dd><input type=radio name=update value="not_changed">I have not made any of the following changes yet, and would like to note them for the future.
        <dd><input type=submit value=Submit>
      </dl>
    </form>
  {% else %}
  <em>You must be logged in order to add an entry.</em>
  {% endif %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
	$(document).ready(function() {
    $('.reset').on('click', function() {
      $(this).closest('form').find('input[type=text], textarea').val('');
    });
	});
	$(".basic_option").click(function(){
		$(".basic_changes").toggle();
	});
</script>
{% endblock %}
