{% extends "layout.html" -%}
{% block body -%}
<h1 class="billheader">Billboard Hot 100</h1>
<h4 class="billheader">(updated every Thursday by 10:00am ET)</h4>
<h5 class="colorcode">color code:</h5>
<h5 class="colorcode"><p style="display:inline; color: blue">rank up</p> |
  <p style="display:inline; color: red">rank down</p> |
  <p style="display:inline; color: #ffcc33">no change</p> |
  <p style="display:inline; color: green">new entry</p> |
  <p style="display:inline; color: #660066">re-entry</p> |
  <p style="display:inline; color: grey">hot shot debut</p></h5>

  <table class="table" data-page-size="10">
    <thead>
      <tr>
        <th data-type="numeric">#</th>
        <th>Title</th>
        <th data-hide="phone, tablet">Artist</th>
        <th data-type="numeric" data-hide="phone, tablet">Last Week</th>
        <th data-type="numeric" data-hide="phone, tablet">Rank Change</th>
        <th data-type="numeric" data-hide="phone, tablet">Peak</th>
        <th data-type="numeric" data-hide="phone, tablet">Total Weeks</th>
      </tr>
    </thead>
    <tbody>
      {% for entry in entries -%}
      {% if entry.rankChange == "0" -%}
      <tr class="warning">
      {% elif entry.rankChange == "New" -%}
      <tr class="success">
      {% elif "+" in entry.rankChange -%}
      <tr class="info">
      {% elif "-" in entry.rankChange -%}
      <tr class="danger">
      {% elif "Hot Shot Debut" in entry.rankChange -%}
      <tr class="active">
      {% else -%}
      <tr>
      {% endif -%}
        <td class="rank">{{ entry.rank }}</td>
        <td>{{ entry.title }}</td>
        <td>{{ entry.artist }}</td>
        <td>{{ entry.lastPos if entry.lastPos != 0 else '-' }}</td>
        <td>{{ entry.rankChange }}</td>
        <td>{{ entry.peakPos }}</td>
        <td>{{ entry.weeks }}</td>
      </tr>
      {% endfor %}
    </tbody>    
    <tfoot>
    <tr>
        <td colspan="8">
            <div class="pagination pagination-centered"></div>
        </td>
    </tr>
    </tfoot>
  </table>
{% endblock -%}
