{% extends "layout.html" %}
{% block body %}
  <h1 class=billheader>Billboard Hot 100</h1>
  <h4>For the week of <p style="display:inline;" id=date></p></h4>
  <h5>color code:</h5>
  <h5><p style="display:inline; color: blue">rank up</p> |
      <p style="display:inline; color: red">rank down</p> |
      <p style="display:inline; color: #ffcc33">no change</p> |
      <p style="display:inline; color: green">new entry</p> |
      <p style="display:inline; color: #660066">re-entry</p> |
	  <p style="display:inline; color: grey">hot shot debut</p></h5>
  <ul class=entries>
  {% for entry in entries %}
    <li>
		<h2>#<p class=entry id="entry_rank_{{ entry.rank }}">{{ entry.rank }}</p> | <p class=entry id="entry_title_{{ entry.rank }}">"{{ entry.title }}"</p>
			<p class=entry id="entry_change_{{ entry.rank }}">({{ entry.rankChange }})</p></h2>
		{% if entry.artist != '' %}<h3><i>by</i> {{ entry.artist }}</h3>{% endif %}
    {% if entry.album != '' %}<h3><i>from</i> {{ entry.album }}</h3> {% endif %}
    <h5>peak: {{ entry.peakPos }} |
    last week: <p class=entry id="entry_last_{{ entry.rank }}">{{ entry.lastPos }}</p> |
    weeks on chart: <p class=entry id="entry_weeks_{{ entry.rank }}">{{ entry.weeks }}</p></h5>
  {% else %}
    <li><em>Couldn't get entries. Check your connection.</em></li>
  {% endfor %}
</ul>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
  var d = new Date();

  var month = d.getMonth() + 1;
  if (d.getDay() == 4){
    day = d.getDate() + 9;
  } 
  else {
	//TODO: Figure out how to keep day constant.
  }

  var output = month + '/' + day + '/' + d.getFullYear();
  document.getElementById("date").innerHTML = output;

  var changeArray = $("*[id^='entry_change']");
  var titleArray = $("*[id^='entry_title']");

  var upReg = /^\(\+\d{1,3}\)$/;
  var downReg = /^\(\-\d{1,3}\)$/;

  for (var i = 0; i < titleArray.length; i++)
    {
        // No change in rank
      if (changeArray[i].innerHTML == "(0)") {
          titleArray.eq(i).css("color", "#ffcc33");
		  changeArray.eq(i).css("color", "#ffcc33");
        // Re-entry
      } else if (changeArray[i].innerHTML == "(Re-Entry)") {
          titleArray.eq(i).css("color", "#660066");
		  changeArray.eq(i).css("color", "#660066");	
        // New entry
      } else if (changeArray[i].innerHTML  == "(New)") {
          titleArray.eq(i).css("color", "green");
		  changeArray.eq(i).css("color", "green");
		// Hot shot debut
	  } else if (changeArray[i].innerHTML == "(Hot Shot Debut)") {
		  titleArray.eq(i).css("color", "grey");
		  changeArray.eq(i).css("color", "grey");
		// Rose in ranks
	  } else if (upReg.test(changeArray[i].innerHTML.toString())){
		 titleArray.eq(i).css("color", "blue");
		 changeArray.eq(i).css("color", "blue");
		// Fell in ranks
	  } else if (downReg.test(changeArray[i].innerHTML.toString())){
		 titleArray.eq(i).css("color", "red");
		 changeArray.eq(i).css("color", "red");
	  }
    }
</script>
{% endblock %}
