<!DOCTYPE html>
<html>
<head>
  <title>simply-billboard</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> 
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='footable.core.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='footable.metro.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.min.js"></script>
  <script src="{{ url_for('static', filename='footable.js') }}"></script>
  <script src="{{ url_for('static', filename='footable.filter.js') }}"></script>
  <script src="{{ url_for('static', filename='footable.sort.js') }}"></script>
  <script src="{{ url_for('static', filename='footable.paginate.js') }}"></script>
  <script>
    // Add footable and bootstrap tooltip functionality.
    $(function(){
      $("table").footable();
      $(document).ready(function() {
        $("body").tooltip({ selector: '[data-toggle=tooltip]' });
      });
    });
  </script>
</head>
<body>
  <div class="page">
    <h1 id="title">simply-billboard</h1>
    {% block body %}
    {% endblock %}
  </div>
  <script id="colors-template" type="text/template">
    {% raw -%}
    {{#color_navbar}}
    [ <p class="rankcode" style="color: {{color}}", data-toggle="tooltip" data-placement="top" title="{{tooltip}}">{{text}}</p> ]
    {{/color_navbar}}
    {% endraw -%}
  </script>
  <script>
    $(function() {
      $.getJSON('static/color_navbar.json', function(data) {
        var template = $('#colors-template').html();
        var info = Mustache.to_html(template, data);
        $('#color-navbar').html(info);
      });
    });
  </script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>