<!DOCTYPE html>
<html>
<head>
  <title>simply-billboard</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> 
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='footable.core.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='footable.metro.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='footable.js') }}"></script>
  <script src="{{ url_for('static', filename='footable.filter.js') }}"></script>
  <script src="{{ url_for('static', filename='footable.sort.js') }}"></script>
  <script src="{{ url_for('static', filename='footable.paginate.js') }}"></script>
</head>
<body>
  <div class="page">
    <h1 class="title">simply-billboard</h1>
    {% block body %}
    {% endblock %}
  </div>
  <script>
  $(function(){
    $("table").footable();
    $("[data-toggle='tooltip']").tooltip();
  });
  </script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>