{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <dl>
        <dt>Title (required):</dt>
        <dd><input type=text size=25 maxlength=100 name=title>
        <dt>Artist:</dt>
        <dd><input type=text size=25 maxlength=100 name=artist>
        <dt>Changes Made:</dt>
        <br><div class="album_option"><button type=button>Album Artwork</button></div>
        <ul class="album_changes">
			<li><input type=radio name=album value="Add new artwork.">Add new artwork.</li>
			<li><input type=radio name=album value="Fix artwork alignment.">Fix artwork alignment.</li>
			<li><input type=radio name=album value="Update artwork to a higher quality.">Update artwork to a higher quality.</li>
			<li><input type=radio name=album value="Make all album songs share the same artwork.">Make all album songs share the same artwork.</li>
			<li><button type=button id=resetAlbum><small>Reset</small></button></li>
        </ul>
        <br><div class="qual_option"><button type=button>Song Quality/Edits</button></div>
        <ul class="qual_changes">
			<li><input type=radio name=quality value="Upgrade music file to higher quality.">Upgrade to a higher quality.</li>
			<li><input type=radio name=quality value="Re-encoding music file to lower quality.">Downgrade to a lower quality to save space.</li>
			<li><input type=radio name=quality value="Remove extra silence.">Crop out extra silence.</li>
			<li><input type=radio name=quality value="Add fade-out to end of song.">Fade out song to stop song smoothly.</li>
			<li><button type=button id=resetQual><small>Reset</small></button></li>
        </ul>
        <dt>Choose one of the following (required):</dt>
		<dd><input type=radio name=update value="made_changes">I have made the following changes in my local library, but haven't updated it on my music player yet, and would like to note it for the future. 
        <dd><input type=radio name=update value="not_changed">I have not made any of the following changes yet, and would like to note them for the future.
        <dt>Notes (required):</dt>
        <dd><textarea name=text rows=5 cols=40></textarea>
        <dd><input type=submit value=Submit>
      </dl>
    </form>
  {% endif %}
  <ul class=entries>
  {% for entry in entries %}
    <li>
		<h2>"{{ entry.title }}"</h2>
		<h3><i>by</i> {{ entry.artist if entry.artist != '' else 'Unknown Artist' }}</h3>
		{% if entry.update_status == 'made_changes' %}<br><h4>The following updates have been made: </h4>
		{% else %} <br><h4>The following updates need to be made: </h4> {% endif %}
		{% if entry.album_art != None %}<p>- {{ entry.album_art }}</p> {% endif %}
		{% if entry.song_quality != None %} <p>- {{ entry.song_quality }}</p> {% endif %}
		<br><h4>Notes:</h4>
		<p>- {{ entry.text|safe }}</p>
    </li>
  {% else %}
    <li><em>No entries here so far!</em>
  {% endfor %}
  </ul>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
	$(document).ready(function() {
		$("#resetAlbum").click(function(){
			$('input[name="album"]').prop('checked', false);  
		});
		$("#resetQual").click(function(){
			$('input[name="quality"]').prop('checked', false);
		});
	});
	$(".qual_option").click(function(){
		$(".qual_changes").toggle("slow");
	});
	$(".album_option").click(function(){
		$(".album_changes").toggle("slow");
	});
</script>
{% endblock %}
