{% extends "layout.html" %}
{% block body %}
  <ul class=entries>
  {% for entry in entries %}
    <li>
		<h2>"{{ entry.title }}"</h2>
		{% if entry.artist != '' %}<h3><i>by</i> {{ entry.artist }}</h3>{% endif %}
    {% if entry.album != '' %}<h3><i>from</i> {{ entry.album }}</h3> {% endif %}
    <h5><small><a href="{{ url_for('delete', entry_id = entry.id) }}">delete entry</a></small></h5>
    {% if entry.update_status == 'made_changes' %}<br><h4>The following updates have been made: </h4>
    {% else %} <br><h4>The following updates need to be made: </h4> {% endif %}
      <ul class=entry_changes>
        {# Basic tags #}
    		{% if entry.new_title != '' %}<li>- Track title change to "{{ entry.new_title }}"</li> {% endif %}
        {% if entry.new_artist != '' %}<li>- Track artist change to "{{ entry.new_artist }}"</li> {% endif %}
        {% if entry.new_album != '' %}<li>- Track album change to "{{ entry.new_album }}"</li> {% endif %}
        {# Quality/edits #}
        {% if entry.quality != 'none' %}<li>- Re-encode file to a {{ entry.quality }}</li> {% endif %}
        {% if entry.edits != '' %}<li>- Edits: {{ entry.edits }}</li> {% endif %}
      </ul>
		{% if entry.notes != '' %}
    <br><h4>Notes:</h4>
		<p id="show_notes">{{ entry.notes|safe }}</p>
    {% endif %}
    </li>
  {% else %}
    <li><em>No entries here so far!</em></li>
    {% if session.logged_in %}<li><em>Click "Add Entry" to start.</em></li> {% endif %}
  {% endfor %}
  </ul>
{% endblock %}
