{% extends "layout.html" %}
{% block body %}
  <ul class=entries>
  {% for entry in entries %}
    <li>
		<h2>"{{ entry.title }}"</h2>
		<h3><i>by</i> {{ entry.artist if entry.artist != '' else 'Unknown Artist' }}</h3>
		{% if entry.update_status == 'made_changes' %}<br><h4>The following updates have been made: </h4>
		{% else %} <br><h4>The following updates need to be made: </h4> {% endif %}
		{% if entry.album_art != None %}<p>- {{ entry.album_art }}</p> {% endif %}
		{% if entry.song_quality != None %} <p>- {{ entry.song_quality }}</p> {% endif %}
		<br><h4>Notes:</h4>
		<p>- {{ entry.text|safe }}</p>
    </li>
  {% else %}
    <li><em>No entries here so far!</em></li>
    {% if session.logged_in %}<li><em>Click "Add Entry" to start.</em></li> {% endif %}
  {% endfor %}
  </ul>
{% endblock %}
